:root {
  --light: #ffffff;
  --blue: #68e1fd;
  --violet: #5e50ff;
  --purple: #0e0c27;
  font-family: Calibri;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

/* Header */
.header{
  position: absolute;
  top: 20;
  left: 100;
  right: 100;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  color: var(--purple);
  justify-content: space-between;
}

.header .logo{
  color: var(--purple);
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 20rem;
}

/* Nav links */
.header .navbar a{
  font-size: 20px;
  font-weight: bold;
  margin: 0 1rem;
  color: var(--purple);
}

.header .navbar .nav-link:hover{
  background-color: var(--blue);
  border-radius: 20px;
  padding: 5px 20px;
}

/* Button */
.header .navbar .btn{
  background: transparent;
  color: var(--purple);
  border: 2px solid var(--violet);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.header .navbar .btn:hover{
  background: var(--blue);
  background-color: var(--blue);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

@media screen and (max-width: 600px){
    /* Header */
.header{
  background: var(--purple);
  position: fixed;
  display: none;
  width: 280px;
  height: 100%;
}

.navbar{
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 70px;
}

.nav-link{
  justify-content: space-evenly;
  padding: 10px 20px;
  margin: 0;
}

label .nav-btn {
  background: var(--purple);
  color: var(--white);
  padding: 10px;
  position: relative;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

label.nav-btn:hover {
  transition: 0.5s;
  background: var(--violet);
  color: var(--white);

}
}