/* Button */
.category-nav {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .category-nav label {
    background: #0bd;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--purple);
    border: 2px solid var(--violet);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
  }

  .category-nav label:hover{
    background: var(--blue);
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
  }

  .category-nav input[type="radio"] {
    /* Hide radio buttonns */
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  /* Image list */
  .category-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .category-list li{
    text-decoration: none;
    list-style-type: none;
  }

  .category-list img {
    width: 100%;
    height: 100%;
    object-fit:contain;
  }
  
/* Animation */
  .v-enter-active,
  .v-enter-active,
  .v-leave-active,
  .v-move {
    transition-property: transform, opacity;
    transition-duration: .3s;
  }

  .v-enter-active {
    opacity: 0;
    transform: translateY(50px);
  }

  .v-enter-to,
  .v-leave-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .v-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }